numpy
protobuf
codecov
pandas
py-cpuinfo
pybind11
pytest
pytest-cov
scipy
wheel

# docs
sphinx
sphinx_modern_theme_modified
sphinxcontrib-blockdiag
tqdm

# docs/examples
lightgbm
matplotlib
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
